In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json

In [2]:
# import and dispaly data
df_data = pd.read_csv('../data/ogd32_elektrizitaetbilanz_jahreswerte.csv', sep=',', encoding='utf-16')
df_data.head(32)

,Jahr,Erzeugung_laufwerk_GWh,Erzeugung_speicherwerk_GWh,Erzeugung_kernkraftwerk_GWh,Erzeugung_andere_total_GWh,Erzeugung_andere_fossil_GWh,Erzeugung_andere_erneuerbare_abfaelle_GWh,Erzeugung_holz_GWh,Erzeugung_biogas_GWh,Erzeugung_photovoltaik_GWh,Erzeugung_wind_GWh,Verbrauch_speicherpumpen_GWh,Erzeugung_netto_GWh,Einfuhr_GWh,Ausfuhr_GWh,Landesverbrauch_GWh,Verluste_GWh,Endverbrauch_GWh
0,1960,NaN,NaN,NaN,168,NaN,NaN,NaN,NaN,NaN,NaN,245,20427,1306,3822,17911,2020,15891
1,1961,NaN,NaN,NaN,174,NaN,NaN,NaN,NaN,NaN,NaN,211,21489,1530,4249,18770,2029,16741
2,1962,NaN,NaN,NaN,231,NaN,NaN,NaN,NaN,NaN,NaN,327,21090,3184,4443,19831,2115,17716
3,1963,NaN,NaN,NaN,254,NaN,NaN,NaN,NaN,NaN,NaN,358,22445,3419,5119,20745,2262,18483
4,1964,NaN,NaN,NaN,304,NaN,NaN,NaN,NaN,NaN,NaN,393,22015,4213,4662,21566,2220,19346
5,1965,NaN,NaN,NaN,491,NaN,NaN,NaN,NaN,NaN,NaN,500,24788,2843,5115,22516,2295,20221
6,1966,NaN,NaN,NaN,652,NaN,NaN,NaN,NaN,NaN,NaN,589,27860,1578,6298,23140,2432,20708
7,1967,NaN,NaN,NaN,897,NaN,NaN,NaN,NaN,NaN,NaN,578,30217,2035,8209,24043,2516,21527
8,1968,NaN,NaN,NaN,1324,NaN,NaN,NaN,NaN,NaN,NaN,577,30188,2357,7601,24944,2507,22437
9,1969,NaN,NaN,563.0,1521,NaN,NaN,NaN,NaN,NaN,NaN,567,28844,5161,7656,26349,2650,23699
10,1970,13758.0,17515.0,1850.0,1763,NaN,NaN,NaN,NaN,NaN,NaN,965,33921,3594,9619,27896,2809,25087
11,1971,11523.0,16040.0,1843.0,2181,NaN,NaN,NaN,NaN,NaN,NaN,1377,30210,6873,7953,29130,2882,26248
12,1972,11218.0,14059.0,4650.0,2371,NaN,NaN,NaN,NaN,NaN,NaN,1644,30654,7847,8329,30172,3031,27141
13,1973,12430.0,16395.0,5896.0,2434,NaN,NaN,NaN,NaN,NaN,NaN,1724,35431,7018,10516,31933,3159,28774
14,1974,13252.0,15311.0,6730.0,2117,NaN,NaN,NaN,NaN,NaN,NaN,1541,35869,6274,9505,32638,3071,29567
15,1975,14039.0,19935.0,7391.0,1629,NaN,NaN,NaN,NaN,NaN,NaN,1198,41796,4635,14360,32071,3168,28903
16,1976,11790.0,14832.0,7561.0,2058,NaN,NaN,NaN,NaN,NaN,NaN,1344,34897,7179,9094,32982,3079,29903
17,1977,15277.0,21013.0,7728.0,1885,NaN,NaN,NaN,NaN,NaN,NaN,1277,44626,5046,15231,34441,3152,31289
18,1978,13764.0,18746.0,7995.0,1845,NaN,NaN,NaN,NaN,NaN,NaN,1361,40989,7653,13047,35595,3131,32464
19,1979,14803.0,17542.0,11243.0,1963,NaN,NaN,NaN,NaN,NaN,NaN,1586,43965,8868,15915,36918,3152,33766
20,1980,14967.0,18575.0,13663.0,957,NaN,NaN,NaN,NaN,NaN,NaN,1531,46631,9947,18128,38450,3198,35252
21,1981,16173.0,19924.0,14462.0,956,NaN,NaN,NaN,NaN,NaN,NaN,1395,50120,9839,20551,39408,3214,36194
22,1982,15617.0,21418.0,14276.0,974,NaN,NaN,NaN,NaN,NaN,NaN,1532,50753,9041,19868,39926,3195,36731
23,1983,15234.0,20768.0,14821.0,996,NaN,NaN,NaN,NaN,NaN,NaN,1346,50473,11149,20395,41227,3257,37970
24,1984,14051.0,16821.0,17396.0,884,NaN,NaN,NaN,NaN,NaN,NaN,1444,47708,16306,21001,43013,3348,39665
25,1985,13765.0,18912.0,21281.0,869,NaN,NaN,NaN,NaN,NaN,NaN,1364,53463,15579,24277,44765,3444,41321
26,1986,14013.0,19576.0,21303.0,988,NaN,NaN,NaN,NaN,NaN,NaN,1461,54419,14512,23098,45833,3485,42348
27,1987,14863.0,20549.0,21701.0,1048,NaN,NaN,NaN,NaN,NaN,NaN,1564,56597,12710,22165,47142,3551,43591
28,1988,15437.0,21002.0,21502.0,1023,NaN,NaN,NaN,NaN,NaN,NaN,1445,57519,15106,24727,47898,3571,44327
29,1989,13613.0,16872.0,21543.0,1082,NaN,NaN,NaN,NaN,NaN,NaN,1454,51656,21933,24449,49140,3638,45502
30,1990,13561.0,17114.0,22298.0,1013,661.0,352.0,6.0,80.0,1.0,0.0,1695,52379,22799,24907,50271,3693,46578
31,1991,13898.0,19184.0,21654.0,1247,904.0,343.0,6.0,87.0,2.0,0.0,1946,54132,24005,26801,51336,3750,47586

In [3]:
# filter data
df_data = df_data[df_data['Jahr'] > 1989]

In [4]:
# group data
df_import_export_ch = df_data[['Jahr', 'Einfuhr_GWh', 'Ausfuhr_GWh']].copy()

display(df_import_export_ch)

    Jahr  Einfuhr_GWh  Ausfuhr_GWh
30  1990        22799        24907
31  1991        24005        26801
32  1992        21757        26046
33  1993        23854        31053
34  1994        22723        34566
35  1995        28948        36219
36  1996        33485        34431
37  1997        30655        37409
38  1998        37419        43373
39  1999        37064        47293
40  2000        24330        31400
41  2001        24096        34540
42  2002        27800        32308
43  2003        30084        33196
44  2004        27056        27759
45  2005        38346        31996
46  2006        33803        31100
47  2007        34818        36880
48  2008        31601        32736
49  2009        31368        33525
50  2010        33401        32881
51  2011        34824        32237
52  2012        31549        33749
53  2013        29874        32270
54  2014        28530        34021
55  2015        34033        35068
56  2016        34096        30173
57  2017        36496        30946
58  2018        31020        32607
59  2019        29505        35765
60  2020        26988        32548
61  2021        31532        29119
62  2022        33117        29734
63  2023        27462        33856

In [5]:
# rename collumns
df_import_export_ch.rename(columns={'Jahr': 'Year'}, inplace=True)
df_import_export_ch.rename(columns={'Einfuhr_GWh': 'Import'}, inplace=True)
df_import_export_ch.rename(columns={'Ausfuhr_GWh': 'Export'}, inplace=True)

display(df_import_export_ch)

    Year  Import  Export
30  1990   22799   24907
31  1991   24005   26801
32  1992   21757   26046
33  1993   23854   31053
34  1994   22723   34566
35  1995   28948   36219
36  1996   33485   34431
37  1997   30655   37409
38  1998   37419   43373
39  1999   37064   47293
40  2000   24330   31400
41  2001   24096   34540
42  2002   27800   32308
43  2003   30084   33196
44  2004   27056   27759
45  2005   38346   31996
46  2006   33803   31100
47  2007   34818   36880
48  2008   31601   32736
49  2009   31368   33525
50  2010   33401   32881
51  2011   34824   32237
52  2012   31549   33749
53  2013   29874   32270
54  2014   28530   34021
55  2015   34033   35068
56  2016   34096   30173
57  2017   36496   30946
58  2018   31020   32607
59  2019   29505   35765
60  2020   26988   32548
61  2021   31532   29119
62  2022   33117   29734
63  2023   27462   33856

In [6]:
# write json file
highcharts_series = []
for column in df_import_export_ch.columns:
    series_data = {
        'name': column,
        'data': df_import_export_ch[column].fillna(0).tolist()  # Replace NaN with 0 for Highcharts
    }
    highcharts_series.append(series_data) 

with open('../src/data/import-export-ch.json', 'w') as json_file:
    json.dump(highcharts_series, json_file, indent=2)